<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student attendance Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
        .bg-container{
            background-image: url('https://res.cloudinary.com/dtd5a2wr1/image/upload/v1687860157/visit-report-text-on-notebook-wooden-doll-on-blue-background-2JG544P_qnakek.jpg');
            background-size: cover;
            height:100vh;
            color:#0b2f4d;
            font-weight:800px;
        }
    </style>
</head>
<body>
    <div class="bg-container p-5">
        <center>
            <h1>Student Attendance Management System</h1>
            <a href="{{url_for('login')}}"><button class="btn btn-light p-2 m-3">LOGIN</button></a>    
        </center>
    </div>
</body>
</html>